version: '3.8'

services:
    # Serviço da aplicação Laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - blog-network
    depends_on:
      - mysql
      - redis

    # Servidor web Nginx
  nginx:
    image: nginx:alpine
    container_name: blog-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx:/etc/nginx/conf.d
    networks:
      - blog-network
    depends_on:
      - app

    # Banco de dados MySQL
  mysql:
    image: mysql:8.0
    container_name: blog-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: blog_laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: secret
      MYSQL_USER: laravel
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - blog-network

    # Cache Redis
  redis:
    image: redis:alpine
    container_name: blog-redis
    restart: unless-stopped
    networks:
      - blog-network

  # Rede para comunicação entre containers
networks:
  blog-network:
    driver: bridge

  # Volume para persistir dados do MySQL
volumes:
  mysql-data:
    driver: local
